#### **1. SQLite DB Version**

Write a Python program to create a SQLite database and connect with the database and print the version of the SQLite database.

In [1]:
import sqlite3

try:
   sqlite_Connection = sqlite3.connect('test.db')
   conn = sqlite_Connection.cursor()
   print("\nDatabase created and connected to SQLite.")
   sqlite_select_Query = "select sqlite_version();"
   conn.execute(sqlite_select_Query)
   record = conn.fetchall()
   print("\nSQLite Database Version is: ", record)
   conn.close()
    
except sqlite3.Error as error:
   print("\nError while connecting to sqlite", error)
finally:
   if (sqlite_Connection):
       sqlite_Connection.close()
       print("\nThe SQLite connection is closed.")

Database created and connected to SQLite.

SQLite Database Version is:  [('3.40.1',)]

The SQLite connection is closed.

In [3]:
import sqlite3

conn = sqlite3.connect('example.db')

cursor = conn.cursor()

# Create table
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER
)
''')

# Insert data
cursor.execute("INSERT INTO students (name, age) VALUES (?, ?)", ('Aayushi', 19))
cursor.execute("INSERT INTO students (name, age) VALUES (?, ?)", ('Nisarg', 15))

# Commit the transaction
conn.commit()

In [4]:
# Query data
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()

print("\n--- Student Records ---")
for row in rows:
    print(row)

# Close the connection
conn.close()

--- Student Records ---
(1, 'Aayushi', 19)
(2, 'Nisarg', 15)