#### **Exercise 1:**

Create a list with values ranging from 0 to 9.

In [1]:
lst = list(range(10))
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### **Exercise 2:**

Convert a list of integers to a list of strings.

In [2]:
lst = [1,2,3,4,5]
str_lst = list(map(str, lst))

In [3]:
print(str_lst)

['1', '2', '3', '4', '5']

#### **Exercise 3:**

Multiply all elements in a list by 2.

In [3]:
lst = [1,2,3,4,5]
multiplied_lst = [x * 2 for x in lst]
print(multiplied_lst)

[2, 4, 6, 8, 10]

In [4]:
print(multiplied_lst)

[2, 4, 6, 8, 10]

### Exercise 4:
Extract all odd numbers from a list of integers

In [6]:
list = [1,2,3,4,5,6,7,8,9,10]
odd_nums = [ x for x in list if x%2 != 0]
print(odd_nums)

[1, 3, 5, 7, 9]