#### 1. Write a Python program to display first 5 rows from COVID-19 dataset. Also print the dataset information and check the missing values.

In [1]:
import pandas as pd
covid_data= pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-17-2020.csv')
print(covid_data)

       Province/State  Country/Region          Last Update  Confirmed  Deaths  \
0               Hubei           China  2020-03-17T11:53:10      67799    3111
1                 NaN           Italy  2020-03-17T18:33:02      31506    2503
2                 NaN            Iran  2020-03-17T15:13:09      16169     988
3                 NaN           Spain  2020-03-17T20:53:02      11748     533
4                 NaN         Germany  2020-03-17T18:53:02       9257      24
..                ...             ...                  ...        ...     ...
307             Wales  United Kingdom  2020-03-17T11:53:10          0       5
308               NaN           Nauru  2020-03-17T11:53:10          0       0
309              Niue     New Zealand  2020-03-17T11:53:10          0       0
310               NaN          Tuvalu  2020-03-17T11:53:10          0       0
311  Pitcairn Islands  United Kingdom  2020-03-17T11:53:10          0       0

     Recovered  Latitude  Longitude
0        56003   30.9756   112.2707
1         2941   41.8719    12.5674
2         5389   32.4279    53.6880
3         1028   40.4637    -3.7492
4           67   51.1657    10.4515
..         ...       ...        ...
307          0   52.1307    -3.7837
308          0   -0.5228   166.9315
309          0  -19.0544  -169.8672
310          0   -7.1095   177.6493
311          0  -24.3768  -128.3242

[312 rows x 8 columns]

In [2]:
print("\nDataset information:")
print(covid_data.info())

Dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  154 non-null    object
 1   Country/Region  312 non-null    object
 2   Last Update     312 non-null    object
 3   Confirmed       312 non-null    int64
 4   Deaths          312 non-null    int64
 5   Recovered       312 non-null    int64
 6   Latitude        309 non-null    float64
 7   Longitude       309 non-null    float64
dtypes: float64(2), int64(3), object(3)
memory usage: 19.6+ KB
None

In [3]:
print("\nMissing data information:")
print(covid_data.isna().sum())

Missing data information:
Province/State    158
Country/Region      0
Last Update         0
Confirmed           0
Deaths              0
Recovered           0
Latitude            3
Longitude           3
dtype: int64

In [4]:
covid_data.head(5)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515

#### 2. Write a Python program to get the latest number of confirmed, deaths, recovered and active cases of Novel Coronavirus (COVID-19) Country wise.

In [5]:
import pandas as pd

In [6]:

covid= pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-17-2020.csv')

In [4]:
covid.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515

In [11]:
covid['Active'] = covid['Confirmed'] - covid['Deaths'] - covid['Recovered']
result = covid.groupby('Country/Region')[['Confirmed', 'Deaths', 'Recovered', 'Active']].sum().reset_index()
covid

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Active
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707,8685
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674,26062
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880,9792
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492,10187
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515,9166
...,...,...,...,...,...,...,...,...,...
307,Wales,United Kingdom,2020-03-17T11:53:10,0,5,0,52.1307,-3.7837,-5
308,NaN,Nauru,2020-03-17T11:53:10,0,0,0,-0.5228,166.9315,0
309,Niue,New Zealand,2020-03-17T11:53:10,0,0,0,-19.0544,-169.8672,0
310,NaN,Tuvalu,2020-03-17T11:53:10,0,0,0,-7.1095,177.6493,0
311,Pitcairn Islands,United Kingdom,2020-03-17T11:53:10,0,0,0,-24.3768,-128.3242,0

In [12]:
c_data = covid_data[covid_data['Country/Region']=='China']
c_data = c_data[['Province/State', 'Confirmed', 'Deaths', 'Recovered']]
result = c_data.sort_values(by='Confirmed', ascending=False)
result = result.reset_index(drop=True)
result

    Province/State  Confirmed  Deaths  Recovered
0            Hubei      67799    3111      56003
1        Guangdong       1364       8       1307
2            Henan       1273      22       1250
3         Zhejiang       1232       1       1216
4            Hunan       1018       4       1014
5            Anhui        990       6        984
6          Jiangxi        935       1        934
7         Shandong        761       7        746
8          Jiangsu        631       0        631
9        Chongqing        576       6        570
10         Sichuan        540       3        520
11    Heilongjiang        482      13        456
12         Beijing        456       8        369
13        Shanghai        358       3        325
14           Hebei        318       6        310
15          Fujian        296       1        295
16         Guangxi        253       2        248
17         Shaanxi        246       3        236
18          Yunnan        176       2        172
19          Hainan        168       6        161
20       Hong Kong        162       4         88
21         Guizhou        147       2        144
22         Tianjin        136       3        133
23           Gansu        133       2         91
24          Shanxi        133       0        133
25        Liaoning        125       1        120
26           Jilin         93       1         92
27        Xinjiang         76       3         73
28  Inner Mongolia         75       1         73
29         Ningxia         75       0         75
30         Qinghai         18       0         18
31           Macau         12       0         10
32           Tibet          1       0          1
33         Unknown          0       0          0